body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

.banner {
  background-image: url("banner.jpeg");
  height: 200px;
  background-size: cover;
}

.navbar-inverse {
  background-color: #3087F9;
  border-color: #3087F9;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFDE4E;
}

.well {
  background-color: #3087F9;
  color: white;
  text-align: center;
}

.well>a {
  color:white;
}

h2 {
  margin-top: 0;
  color: #FFDE4E;
  font-size: 18px;
}